#e130_1 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e130_2 { 
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/e19742_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_3 { 
	opacity:1;
	width:451px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_4 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:107px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_6 { 
	opacity:1;
	width:104px;
	height:97px;
	position:absolute;
	left:1px;
	top:12px;
	background-image:url(images/emenubar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_7 { 
	opacity:1;
	width:100px;
	height:93px;
	position:absolute;
	left:3px;
	top:140px;
	background-image:url(images/ehome_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_10 { 
	opacity:1;
	width:86px;
	height:86px;
	position:absolute;
	left:10px;
	top:244px;
	background-image:url(images/ebell_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_11 { 
	opacity:1;
	width:1813px;
	height:118px;
	position:absolute;
	left:107px;
	top:0px;
}#e130_12 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	width:1920px;
	height:118px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_13 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:1920px;
	height:4px;
	position:absolute;
	left:0px;
	top:114px;
}#e130_14 { 
	opacity:1;
	width:111px;
	height:114px;
	position:absolute;
	left:7px;
	top:0px;
	background-image:url(images/ewmsu_seal.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_15 { 
	color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:469px;
	height:91px;
	position:absolute;
	left:143px;
	top:14px;
	font-family:PT Sans;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e130_16 { 
	opacity:1;
	width:1813px;
	height:962px;
	position:absolute;
	left:107px;
	top:118px;
}#e130_17 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	border:3px solid rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	width:1648px;
	height:887px;
	position:absolute;
	left:83px;
	top:37px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}#e130_24 { 
	opacity:1;
	width:198px;
	height:61px;
	position:absolute;
	left:1461px;
	top:817px;
}#e130_25 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:198px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e130_26 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:198px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e130_27 { 
	opacity:1;
	width:1518px;
	height:702px;
	position:absolute;
	left:141px;
	top:86px;
}#e130_28 { 
	opacity:1;
	width:255px;
	height:61px;
	position:absolute;
	left:0px;
	top:140px;
}#e130_29 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:254.5851593017578px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_30 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:254.5851593017578px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_31 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:223px;
	height:32px;
	position:absolute;
	left:21px;
	top:14px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e130_32 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:48px;
	height:21px;
	position:absolute;
	left:207px;
	top:40px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e130_33 { 
	opacity:1;
	width:255px;
	height:61px;
	position:absolute;
	left:0px;
	top:211px;
}#e130_34 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:254.5851593017578px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_35 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:254.5851593017578px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_36 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:223px;
	height:32px;
	position:absolute;
	left:21px;
	top:14px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e130_37 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:45px;
	height:21px;
	position:absolute;
	left:210px;
	top:40px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e130_38 { 
	opacity:1;
	width:290.6113586425781px;
	height:61px;
	position:absolute;
	left:259.3886413574219px;
	top:211px;
}#e130_39 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:290.6113586425781px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_40 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:290.6113586425781px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_41 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:263px;
	height:32px;
	position:absolute;
	left:15.611358642578125px;
	top:14px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e130_42 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:43px;
	height:21px;
	position:absolute;
	left:247.61135864257812px;
	top:40px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e130_43 { 
	opacity:1;
	width:291.8122253417969px;
	height:61px;
	position:absolute;
	left:258.1877746582031px;
	top:140px;
}#e130_44 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:291.8122253417969px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_45 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:224px;
	height:32px;
	position:absolute;
	left:16.812225341796875px;
	top:14px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e130_46 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:72px;
	height:21px;
	position:absolute;
	left:219.81222534179688px;
	top:40px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e130_47 { 
	opacity:1;
	width:549px;
	height:325px;
	position:absolute;
	left:1px;
	top:377px;
}#e130_48 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:549.0000610351562px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_49 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:537.8784790039062px;
	height:303px;
	position:absolute;
	left:6.066279411315918px;
	top:6px;
}#e130_50 { 
	opacity:1;
	width:531.6201782226562px;
	height:17px;
	position:absolute;
	left:9.099419593811035px;
	top:10px;
}#e130_51 { 
	opacity:1;
	width:66.70909881591797px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_52 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:66.70909881591797px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_53 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66.70909881591797px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_54 { 
	opacity:1;
	width:241.1790313720703px;
	height:17px;
	position:absolute;
	left:68.76170349121094px;
	top:0px;
}#e130_55 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:241.1790313720703px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_56 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:241.1790313720703px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_57 { 
	opacity:1;
	width:106.91119384765625px;
	height:17px;
	position:absolute;
	left:311.8157043457031px;
	top:0px;
}#e130_58 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:103.25698852539062px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_59 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:106.73455047607422px;
	height:17px;
	position:absolute;
	left:0.17664073407649994px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_60 { 
	opacity:1;
	width:114.5028076171875px;
	height:17px;
	position:absolute;
	left:417.1174011230469px;
	top:0px;
}#e130_61 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:114.5027847290039px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_62 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:114.5027847290039px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_63 { 
	opacity:1;
	width:529.575439453125px;
	height:17px;
	position:absolute;
	left:11.121532440185547px;
	top:27px;
}#e130_64 { 
	opacity:1;
	width:66.45252227783203px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_65 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:66.45252227783203px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_66 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:66.45252227783203px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}#e130_67 { 
	opacity:1;
	width:240.2514190673828px;
	height:17px;
	position:absolute;
	left:68.49724578857422px;
	top:0px;
}#e130_68 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:240.2514190673828px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_69 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:240.2514190673828px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_70 { 
	opacity:1;
	width:106.32403564453125px;
	height:17px;
	position:absolute;
	left:310.7933654785156px;
	top:0px;
}#e130_71 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:106.32403564453125px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_72 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:106.32403564453125px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_73 { 
	opacity:1;
	width:110.41342163085938px;
	height:17px;
	position:absolute;
	left:419.162109375px;
	top:0px;
}#e130_74 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:110.41340637207031px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_75 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:110.41340637207031px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_76 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:73.80663299560547px;
	height:16px;
	position:absolute;
	left:475.1933898925781px;
	top:309px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e130_77 { 
	opacity:1;
	width:502px;
	height:325px;
	position:absolute;
	left:1016px;
	top:141px;
}#e130_78 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:502px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_79 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:491.17254638671875px;
	height:303px;
	position:absolute;
	left:5.905882358551025px;
	top:6px;
}#e130_80 { 
	opacity:1;
	width:484.8634948730469px;
	height:17.282608032226562px;
	position:absolute;
	left:9.072309494018555px;
	top:10px;
}#e130_81 { 
	opacity:1;
	width:252.64511108398438px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_82 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:252.64511108398438px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_83 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:252.64511108398438px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_84 { 
	opacity:1;
	width:111.80888366699219px;
	height:17.282608032226562px;
	position:absolute;
	left:254.79527282714844px;
	top:0px;
}#e130_85 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:111.80888366699219px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_86 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:111.80888366699219px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_87 { 
	opacity:1;
	width:116.1092300415039px;
	height:17.282608032226562px;
	position:absolute;
	left:368.7542724609375px;
	top:0px;
}#e130_88 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:116.10921478271484px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_89 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:116.10921478271484px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_90 { 
	opacity:1;
	width:484.8634948730469px;
	height:17.282608032226562px;
	position:absolute;
	left:9px;
	top:29px;
}#e130_91 { 
	opacity:1;
	width:252.64511108398438px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_92 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:252.64511108398438px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_93 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:252.64511108398438px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_94 { 
	opacity:1;
	width:111.80888366699219px;
	height:17.282608032226562px;
	position:absolute;
	left:254.79527282714844px;
	top:0px;
}#e130_95 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:111.80888366699219px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_96 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:111.80888366699219px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_97 { 
	opacity:1;
	width:116.1092300415039px;
	height:17.282608032226562px;
	position:absolute;
	left:368.7542724609375px;
	top:0px;
}#e130_98 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:116.10921478271484px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_99 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:116.10921478271484px;
	height:17.282608032226562px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_100 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:66.93333435058594px;
	height:16px;
	position:absolute;
	left:435.0666809082031px;
	top:309px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e130_101 { 
	opacity:1;
	width:502px;
	height:231px;
	position:absolute;
	left:1016px;
	top:471px;
}#e130_102 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:502px;
	height:231px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_103 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:491.7169494628906px;
	height:204.886962890625px;
	position:absolute;
	left:5.608978271484375px;
	top:6.026092529296875px;
}#e130_104 { 
	opacity:1;
	width:484.86346435546875px;
	height:17.07391357421875px;
	position:absolute;
	left:9.072309494018555px;
	top:9.03912353515625px;
}#e130_105 { 
	opacity:1;
	width:252.64511108398438px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_106 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:252.64511108398438px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_107 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:252.64511108398438px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_108 { 
	opacity:1;
	width:229.9357452392578px;
	height:17.07391357421875px;
	position:absolute;
	left:254.92770385742188px;
	top:0px;
}#e130_109 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:229.9357452392578px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_110 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:229.9357452392578px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_111 { 
	opacity:1;
	width:484.86346435546875px;
	height:17.07391357421875px;
	position:absolute;
	left:9px;
	top:28px;
}#e130_112 { 
	opacity:1;
	width:252.64511108398438px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_113 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:252.64511108398438px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_114 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:252.64511108398438px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_115 { 
	opacity:1;
	width:229.9357452392578px;
	height:17.07391357421875px;
	position:absolute;
	left:254.92770385742188px;
	top:0px;
}#e130_116 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:229.9357452392578px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_117 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:229.9357452392578px;
	height:17.07391357421875px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_118 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:117.13333129882812px;
	height:13.05652141571045px;
	position:absolute;
	left:384.8666687011719px;
	top:212.9217529296875px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e130_119 { 
	opacity:1;
	width:457px;
	height:561px;
	position:absolute;
	left:555px;
	top:141px;
}#e130_120 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:457px;
	height:561px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_121 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:421px;
	height:527px;
	position:absolute;
	left:22px;
	top:17px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e130_122 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:72px;
	height:18.789474487304688px;
	position:absolute;
	left:385px;
	top:542.2105102539062px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e130_123 { 
	opacity:1;
	width:262px;
	height:61px;
	position:absolute;
	left:10px;
	top:294px;
}#e130_124 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:262px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e130_125 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:262px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e130_126 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:262px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e130_127 { 
	opacity:1;
	width:263px;
	height:61px;
	position:absolute;
	left:275px;
	top:294px;
}#e130_128 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:263px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e130_129 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:263px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e130_130 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:263px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}