#e102_270 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e102_271 { 
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/e19742_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_282 { 
	opacity:1;
	width:296px;
	height:328px;
	position:absolute;
	left:1540px;
	top:682px;
}#e102_283 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:296px;
	height:328px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e102_284 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:284.6734619140625px;
	height:31.741931915283203px;
	position:absolute;
	left:6.040815830230713px;
	top:16.626728057861328px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e102_285 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:270.3265380859375px;
	height:2.2672805786132812px;
	position:absolute;
	left:11.326532363891602px;
	top:57.43778991699219px;
}#e102_320 { 
	opacity:1;
	width:203px;
	height:203px;
	position:absolute;
	left:46px;
	top:82px;
	background-image:url(images/eguidance_add_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_315 { 
	opacity:1;
	width:296px;
	height:328px;
	position:absolute;
	left:1540px;
	top:325px;
}#e102_316 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:296px;
	height:328px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e102_317 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:284.6734619140625px;
	height:31.741931915283203px;
	position:absolute;
	left:6.040815830230713px;
	top:16.626728057861328px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e102_318 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:270.3265380859375px;
	height:2.2672805786132812px;
	position:absolute;
	left:11.326532363891602px;
	top:57.43778991699219px;
}#e102_321 { 
	opacity:1;
	width:239px;
	height:186px;
	position:absolute;
	left:28px;
	top:97px;
	background-image:url(images/ecounseling.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_292 { 
	opacity:1;
	width:619px;
	height:685px;
	position:absolute;
	left:896px;
	top:325px;
}#e102_293 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:619px;
	height:685px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e102_294 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:565.3112182617188px;
	height:66.29032897949219px;
	position:absolute;
	left:23.68622398376465px;
	top:36.301841735839844px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}#e102_295 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:565.3112182617188px;
	height:4.735023498535156px;
	position:absolute;
	left:23.68622398376465px;
	top:119.95391845703125px;
}#e102_296 { 
	opacity:1;
	width:418.4566345214844px;
	height:437.20050048828125px;
	position:absolute;
	left:99.48213958740234px;
	top:156.25575256347656px;
	background-image:url(images/eedit_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_302 { 
	opacity:1;
	width:451px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e102_303 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:107px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e102_305 { 
	opacity:1;
	width:104px;
	height:97px;
	position:absolute;
	left:1px;
	top:12px;
	background-image:url(images/emenubar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_306 { 
	opacity:1;
	width:100px;
	height:93px;
	position:absolute;
	left:3px;
	top:140px;
	background-image:url(images/ehome_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_307 { 
	opacity:1;
	width:65px;
	height:78px;
	position:absolute;
	left:21px;
	top:255px;
	background-image:url(images/estudent_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_308 { 
	opacity:1;
	width:100px;
	height:100px;
	position:absolute;
	left:3px;
	top:356px;
	background-image:url(images/ecounselingsmall_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_309 { 
	opacity:1;
	width:86px;
	height:86px;
	position:absolute;
	left:10px;
	top:255px;;
	background-image:url(images/ebell_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_310 { 
	opacity:1;
	width:1813px;
	height:118px;
	position:absolute;
	left:107px;
	top:0px;
}#e102_311 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	width:1920px;
	height:118px;
	position:absolute;
	left:0px;
	top:0px;
}#e102_312 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:1920px;
	height:4px;
	position:absolute;
	left:0px;
	top:114px;
}#e102_313 { 
	opacity:1;
	width:111px;
	height:114px;
	position:absolute;
	left:7px;
	top:0px;
	background-image:url(images/ewmsu_seal.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e102_314 { 
	color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:485px;
	height:91px;
	position:absolute;
	left:127px;
	top:14px;
	font-family:PT Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}