#e76_467 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e76_468 { 
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/e19742_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_469 { 
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:1376px;
	top:635px;
}#e76_470 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e76_471 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:392px;
	height:42px;
	position:absolute;
	left:0px;
	top:23px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}#e76_472 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:358px;
	height:3px;
	position:absolute;
	left:15px;
	top:76px;
}#e78_0 { 
	opacity:1;
	width:229px;
	height:250px;
	position:absolute;
	left:81px;
	top:132px;
	background-image:url(images/ecounseling_calendar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e78_1 { 
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:1376px;
	top:165px;
}#e78_2 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e78_3 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:392px;
	height:42px;
	position:absolute;
	left:0px;
	top:23px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e78_4 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:358px;
	height:3px;
	position:absolute;
	left:15px;
	top:76px;
}#e78_5 { 
	opacity:1;
	width:285px;
	height:285px;
	position:absolute;
	left:53px;
	top:102px;
	background-image:url(images/edelete_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_494 { 
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:934px;
	top:165px;
}#e76_495 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e76_496 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:358px;
	height:42px;
	position:absolute;
	left:15px;
	top:23px;
	font-family:Roboto;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:undefined;
}#e76_497 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:358px;
	height:3px;
	position:absolute;
	left:15px;
	top:76px;
}#e77_0 { 
	opacity:1;
	width:296px;
	height:296px;
	position:absolute;
	left:46px;
	top:102px;
	background-image:url(images/eguidance_add_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_499 { 
	opacity:1;
	width:451px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_500 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:107px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_502 { 
	opacity:1;
	width:104px;
	height:97px;
	position:absolute;
	left:1px;
	top:12px;
	background-image:url(images/emenubar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_503 { 
	opacity:1;
	width:100px;
	height:93px;
	position:absolute;
	left:3px;
	top:140px;
	background-image:url(images/ehome_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_504 { 
	opacity:1;
	width:65px;
	height:78px;
	position:absolute;
	left:21px;
	top:255px;
	background-image:url(images/estudent_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_505 { 
	opacity:1;
	width:100px;
	height:100px;
	position:absolute;
	left:3px;
	top:356px;
	background-image:url(images/ecounselingsmall_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_506 { 
	opacity:1;
	width:86px;
	height:86px;
	position:absolute;
	left:10px;
	top:472px;
	background-image:url(images/ebell_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_489 { 
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:934px;
	top:635px;
}#e76_490 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e76_491 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:358px;
	height:42px;
	position:absolute;
	left:15px;
	top:23px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_492 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:358px;
	height:3px;
	position:absolute;
	left:15px;
	top:76px;
}#e76_493 { 
	opacity:1;
	width:247px;
	height:258px;
	position:absolute;
	left:70px;
	top:117px;
	background-image:url(images/eedit_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_507 { 
	opacity:1;
	width:1813px;
	height:118px;
	position:absolute;
	left:107px;
	top:0px;
}#e76_508 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	width:1920px;
	height:118px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_509 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:1920px;
	height:4px;
	position:absolute;
	left:0px;
	top:114px;
}#e76_510 { 
	opacity:1;
	width:111px;
	height:114px;
	position:absolute;
	left:7px;
	top:0px;
	background-image:url(images/ewmsu_seal.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_511 { 
	color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:611px;
	height:91px;
	position:absolute;
	left:127px;
	top:14px;
	font-family:PT Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e76_616 { 
	opacity:1;
	width:718px;
	height:910px;
	position:absolute;
	left:170px;
	top:160px;
}#e76_613 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:719px;
	height:904px;
	position:absolute;
	left:-1px;
	top:5px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}#e76_615 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:670px;
	height:3px;
	position:absolute;
	left:23px;
	top:75px;
}#e76_614 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:642px;
	height:42px;
	position:absolute;
	left:-45px;
	top:23px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_617 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:670px;
	height:779px;
	position:absolute;
	left:23px;
	top:95px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e96_14 { 
	opacity:1;
	width:656.4742431640625px;
	height:176px;
	position:absolute;
	left:200px;
	top:267px;
}#e96_15 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:656px;
	height:176px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e96_16 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:639.4742431640625px;
	height:38.0990104675293px;
	position:absolute;
	left:17px;
	top:9px;
	font-family:PT Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e96_17 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:639px;
	height:93px;
	position:absolute;
	left:17px;
	top:71px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}