#e130_449 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e130_450 { 
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/e19742_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_451 { 
	opacity:1;
	width:451px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_452 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:107px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_454 { 
	opacity:1;
	width:104px;
	height:97px;
	position:absolute;
	left:1px;
	top:12px;
	background-image:url(images/emenubar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_455 { 
	opacity:1;
	width:100px;
	height:93px;
	position:absolute;
	left:3px;
	top:140px;
	background-image:url(images/ehome_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_458 { 
	opacity:1;
	width:86px;
	height:86px;
	position:absolute;
	left:10px;
	top:264px;
	background-image:url(images/ebell_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_459 { 
	opacity:1;
	width:1813px;
	height:118px;
	position:absolute;
	left:107px;
	top:0px;
}#e130_460 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	width:1920px;
	height:118px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_461 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:1920px;
	height:4px;
	position:absolute;
	left:0px;
	top:114px;
}#e130_462 { 
	opacity:1;
	width:111px;
	height:114px;
	position:absolute;
	left:7px;
	top:0px;
	background-image:url(images/ewmsu_seal.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_463 { 
	color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:469px;
	height:91px;
	position:absolute;
	left:143px;
	top:14px;
	font-family:PT Sans;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e130_464 { 
	opacity:1;
	width:1813px;
	height:962px;
	position:absolute;
	left:107px;
	top:118px;
}#e130_465 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	border:3px solid rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	width:1648px;
	height:887px;
	position:absolute;
	left:83px;
	top:37px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}#e130_466 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:782px;
	height:582px;
	position:absolute;
	left:142px;
	top:209px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}#e130_467 { 
	opacity:1;
	width:256px;
	height:61px;
	position:absolute;
	left:1403px;
	top:817px;
}#e130_468 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:256px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e130_469 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:256px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e130_470 { 
	opacity:1;
	width:347px;
	height:61px;
	position:absolute;
	left:141px;
	top:817px;
}#e130_471 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:347px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e130_472 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:347px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:undefined;
}#e130_473 { 
	opacity:1;
	width:198px;
	height:61px;
	position:absolute;
	left:1182px;
	top:817px;
}#e130_474 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:198px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e130_475 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:198px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e130_476 { 
	opacity:1;
	width:249px;
	height:39px;
	position:absolute;
	left:369px;
	top:159px;
}#e130_477 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:249px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_478 { 
	color:rgba(148.7499949336052, 148.7499949336052, 148.7499949336052, 1);
	opacity:1;
	width:249px;
	height:32px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:PT Sans;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}#e130_479 { 
	opacity:1;
	width:136px;
	height:39px;
	position:absolute;
	left:636px;
	top:159px;
}#e130_480 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:136px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}#e130_481 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:136px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}#e130_482 { 
	color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:113px;
	height:32px;
	position:absolute;
	left:141px;
	top:61px;
	font-family:PT Sans;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
	line-height:undefined;
}#e130_483 { 
	opacity:1;
	width:208px;
	height:39px;
	position:absolute;
	left:142px;
	top:159px;
}#e130_484 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:208px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_485 { 
	color:rgba(148.7499949336052, 148.7499949336052, 148.7499949336052, 1);
	opacity:1;
	width:208px;
	height:32px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:PT Sans;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}#e130_486 { 
	opacity:1;
	width:310px;
	height:39px;
	position:absolute;
	left:142px;
	top:109px;
}#e130_487 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:310px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_488 { 
	color:rgba(148.7499949336052, 148.7499949336052, 148.7499949336052, 1);
	opacity:1;
	width:310px;
	height:32px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:PT Sans;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}#e130_489 { 
	opacity:1;
	width:310px;
	height:39px;
	position:absolute;
	left:462px;
	top:109px;
}#e130_490 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:310px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_491 { 
	color:rgba(148.7499949336052, 148.7499949336052, 148.7499949336052, 1);
	opacity:1;
	width:310px;
	height:32px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:PT Sans;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}#e130_492 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:206px;
	height:32px;
	position:absolute;
	left:772px;
	top:116px;
	font-family:PT Sans;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}#e130_493 { 
	opacity:1;
	width:781px;
	height:580px;
	position:absolute;
	left:143px;
	top:211px;
}#e130_494 { 
	opacity:1;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:3px;
}#e130_495 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_496 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_497 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_498 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_499 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_500 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_501 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_502 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_503 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_504 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_505 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_506 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_507 { 
	opacity:1;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:40px;
}#e130_508 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_509 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_510 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_511 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_512 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_513 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_514 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_515 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_516 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_517 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_518 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_519 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_520 { 
	opacity:1;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:40px;
}#e130_521 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_522 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_523 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_524 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_525 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_526 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_527 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_528 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_529 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_530 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_531 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_532 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_533 { 
	opacity:1;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:77px;
}#e130_534 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_535 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_536 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_537 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_538 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_539 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_540 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_541 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_542 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_543 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_544 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_545 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_546 { 
	opacity:0.9599999785423279;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:77px;
}#e130_547 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_548 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_549 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_550 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_551 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_552 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_553 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_554 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_555 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_556 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_557 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_558 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_559 { 
	opacity:1;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:151px;
}#e130_560 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_561 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_562 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_563 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_564 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_565 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_566 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_567 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_568 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_569 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_570 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_571 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_572 { 
	opacity:0.9599999785423279;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:151px;
}#e130_573 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_574 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_575 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_576 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_577 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_578 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_579 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_580 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_581 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_582 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_583 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_584 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_585 { 
	opacity:1;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:225px;
}#e130_586 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_587 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_588 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_589 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_590 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_591 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_592 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_593 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_594 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_595 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_596 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_597 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_598 { 
	opacity:0.9599999785423279;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:225px;
}#e130_599 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_600 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_601 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_602 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_603 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_604 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_605 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_606 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_607 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_608 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_609 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_610 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_611 { 
	opacity:1;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:114px;
}#e130_612 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_613 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_614 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_615 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_616 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_617 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_618 { 
	opacity:1;
	width:248px;
	height:37px;
	position:absolute;
	left:430px;
	top:2.842170943040401e-14px;
}#e130_619 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0.427154541015625px;
	top:0px;
}#e130_620 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:248px;
	height:23px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_621 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_622 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_623 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_624 { 
	opacity:1;
	width:776.3193359375px;
	height:37px;
	position:absolute;
	left:2px;
	top:188px;
}#e130_625 { 
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_626 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_627 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:161.53558349609375px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_628 { 
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:163.54226684570312px;
	top:0px;
}#e130_629 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_630 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:264.87823486328125px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_631 { 
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:430.4271545410156px;
	top:2.842170943040401e-14px;
}#e130_632 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_633 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:247.57284545898438px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_634 { 
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:680px;
	top:0px;
}#e130_635 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_636 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96.31936645507812px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e130_637 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:967px;
	top:117px;
}#e130_638 { 
	opacity:1;
	width:697px;
	height:582px;
	position:absolute;
	left:962px;
	top:209px;
}#e130_639 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:697px;
	height:582px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}#e130_640 { 
	opacity:1;
	border:5px solid rgba(0, 0, 0, 1);
	width:643px;
	height:0px;
	position:absolute;
	left:27px;
	top:71px;
}#e130_641 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:697px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e130_642 { 
	color:rgba(174.25000101327896, 174.25000101327896, 174.25000101327896, 1);
	opacity:1;
	width:350px;
	height:64px;
	position:absolute;
	left:347px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e130_643 { 
	color:rgba(174.25000101327896, 174.25000101327896, 174.25000101327896, 1);
	opacity:1;
	width:352px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e130_644 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:141px;
	height:17px;
	position:absolute;
	left:276px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}#e130_645 { 
	color:rgba(174.25000101327896, 174.25000101327896, 174.25000101327896, 1);
	opacity:1;
	width:141px;
	height:17px;
	position:absolute;
	left:105px;
	top:21px;
	font-family:PT Sans;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	line-height:undefined;
}#e130_646 { 
	opacity:1;
	width:671px;
	height:465px;
	position:absolute;
	left:11px;
	top:71px;
	background-image:url(images/calendar.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e130_647 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:91px;
	height:51px;
	position:absolute;
	left:206px;
	top:120px;
}#e130_648 { 
	opacity:1;
	width:91px;
	height:51px;
	position:absolute;
	left:206px;
	top:120px;
}#e130_649 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:91px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_650 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:85px;
	height:16px;
	position:absolute;
	left:4px;
	top:2px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_651 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:23px;
	height:9px;
	position:absolute;
	left:66px;
	top:42px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_652 { 
	opacity:1;
	width:91px;
	height:51px;
	position:absolute;
	left:16px;
	top:193px;
}#e130_653 { 
	background-color:rgba(199.75002229213715, 157.3031383752823, 157.3031383752823, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:91px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_654 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:85px;
	height:16px;
	position:absolute;
	left:4px;
	top:2px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_655 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:23px;
	height:9px;
	position:absolute;
	left:66px;
	top:42px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_656 { 
	opacity:1;
	width:92px;
	height:51px;
	position:absolute;
	left:301px;
	top:193px;
}#e130_657 { 
	background-color:rgba(199.75002229213715, 157.3031383752823, 157.3031383752823, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:92px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_658 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:86px;
	height:16px;
	position:absolute;
	left:4px;
	top:2px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_659 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:23.25274658203125px;
	height:9px;
	position:absolute;
	left:66.72527313232422px;
	top:42px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_660 { 
	opacity:1;
	width:91px;
	height:51px;
	position:absolute;
	left:111px;
	top:337px;
}#e130_661 { 
	background-color:rgba(255, 101.99999392032623, 101.99999392032623, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:91px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_662 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:85px;
	height:16px;
	position:absolute;
	left:4px;
	top:2px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_663 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:23px;
	height:9px;
	position:absolute;
	left:66px;
	top:42px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_664 { 
	opacity:1;
	width:92px;
	height:51px;
	position:absolute;
	left:301px;
	top:410px;
}#e130_665 { 
	background-color:rgba(255, 173.18750202655792, 173.18750202655792, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:92px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_666 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:86px;
	height:16px;
	position:absolute;
	left:4px;
	top:2px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_667 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:28px;
	height:9px;
	position:absolute;
	left:62px;
	top:42px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_668 { 
	opacity:1;
	width:92px;
	height:51px;
	position:absolute;
	left:492px;
	top:410px;
}#e130_669 { 
	background-color:rgba(255, 173.18750202655792, 173.18750202655792, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:92px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}#e130_670 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:85px;
	height:16px;
	position:absolute;
	left:5px;
	top:2px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_671 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:27px;
	height:9px;
	position:absolute;
	left:63px;
	top:42px;
	font-family:PT Sans;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
	line-height:undefined;
}#e130_672 { 
	opacity:1;
	border:5px solid rgba(175.3125, 81.81249797344208, 81.81249797344208, 1);
	width:104px;
	height:79px;
	position:absolute;
	left:104px;
	top:315px;
}#e130_673 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:30px;
	height:28px;
	position:absolute;
	left:967px;
	top:117px;
	font-family:PT Sans;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
	line-height:undefined;
}