#e2_7 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e11_15 { 
	opacity:1;
	width:1920px;
	height:1070px;
	position:absolute;
	left:0px;
	top:10px;
	background-image:url(images/e19742_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e2_5 { 
	opacity:1;
	width:658px;
	height:694.5px;
	position:absolute;
	left:339px;
	top:198px;
}#e11_18 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 0.800000011920929);
	opacity:1;
	width:658px;
	height:683px;
	position:absolute;
	left:0px;
	top:0.25px;
	border-top-left-radius:68px;
	border-top-right-radius:68px;
	border-bottom-left-radius:68px;
	border-bottom-right-radius:68px;
}#e1_10 { 
	opacity:1;
	width:453px;
	height:467px;
	position:absolute;
	left:102px;
	top:8.25px;
	background-image:url(images/ewmsu_seal.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e2_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:658px;
	height:200.5px;
	position:absolute;
	left:0px;
	top:493.25px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e2_8 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:658px;
	height:1080px;
	position:absolute;
	left:1335px;
	top:0px;
	border-top-left-radius:64px;
	border-top-right-radius:64px;
	border-bottom-left-radius:64px;
	border-bottom-right-radius:64px;
}#e2_1 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:133.08265686035156px;
	height:61.508331298828125px;
	position:absolute;
	left:238px;
	top:224px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e2_2 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:442px;
	height:42px;
	position:absolute;
	left:83px;
	top:306px;
}#e11_5 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:442px;
	height:42px;
	position:absolute;
	left:83px;
	top:384px;
}#e11_9 { 
	opacity:1;
	width:159px;
	height:44.30769348144531px;
	position:absolute;
	left:228px;
	top:464.69232177734375px;
}#e11_6 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(239.0625, 199.21875, 199.21875, 1);
	opacity:1;
	width:159px;
	height:44.30769348144531px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}#e11_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:139px;
	height:36px;
	position:absolute;
	left:10px;
	top:4.30767822265625px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e11_10 { 
	color:rgba(239.0625, 199.21875, 199.21875, 1);
	opacity:1;
	width:183px;
	height:24px;
	position:absolute;
	left:216px;
	top:516px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e11_12 { 
	color:rgba(239.0625, 199.21875, 199.21875, 1);
	opacity:1;
	width:185px;
	height:44px;
	position:absolute;
	left:215px;
	top:1053px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}