#e11_20 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e11_21 { 
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/e19742_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e11_31 { 
	opacity:1;
	width:1813px;
	height:118px;
	position:absolute;
	left:107px;
	top:0px;
}#e11_32 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	width:1920px;
	height:118px;
	position:absolute;
	left:0px;
	top:0px;
}#e11_33 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:1920px;
	height:4px;
	position:absolute;
	left:0px;
	top:114px;
}#e11_35 { 
	color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:191px;
	height:91px;
	position:absolute;
	left:127px;
	top:14px;
	font-family:PT Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e11_34 { 
	opacity:1;
	width:111px;
	height:114px;
	position:absolute;
	left:7px;
	top:0px;
	background-image:url(images/ewmsu_seal.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e11_28 { 
	opacity:1;
	width:451px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e11_22 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:107px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e19_0 { 
	opacity:1;
	width:104px;
	height:97px;
	position:absolute;
	left:1px;
	top:12px;
	background-image:url(images/emenubar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e19_1 { 
	opacity:1;
	width:100px;
	height:93px;
	position:absolute;
	left:3px;
	top:140px;
	background-image:url(images/ehome_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e19_2 { 
	opacity:1;
	width:65px;
	height:78px;
	position:absolute;
	left:21px;
	top:255px;
	background-image:url(images/estudent_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e19_3 { 
	opacity:1;
	width:100px;
	height:100px;
	position:absolute;
	left:3px;
	top:356px;
	background-image:url(images/ecounselingsmall_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e21_0 { 
	opacity:1;
	width:86px;
	height:86px;
	position:absolute;
	left:10px;
	top:472px;
	background-image:url(images/ebell_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e14_2 { 
	opacity:1;
	width:980px;
	height:337px;
	position:absolute;
	left:498px;
	top:654px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e14_4 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:980px;
	height:337px;
	position:absolute;
	left:0px;
	top:0px;
}#e15_8 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:924.0340576171875px;
	height:238px;
	position:absolute;
	left:28.578372955322266px;
	top:77px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_4 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:924.0340576171875px;
	height:3px;
	position:absolute;
	left:28.578372955322266px;
	top:66px;
}#e15_2 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:433.43865966796875px;
	height:42px;
	position:absolute;
	left:23.815309524536133px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e96_4 { 
	opacity:1;
	width:921px;
	height:237px;
	position:absolute;
	left:32px;
	top:78px;
}#e96_6 { 
	opacity:1;
	width:918px;
	height:101px;
	position:absolute;
	left:0px;
	top:5px;
}#e96_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:918px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e96_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:894.8740234375px;
	height:13px;
	position:absolute;
	left:23.125957489013672px;
	top:6px;
	font-family:PT Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e96_9 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:894.8740234375px;
	height:69px;
	position:absolute;
	left:23.125957489013672px;
	top:28px;
	font-family:PT Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e14_3 { 
	opacity:1;
	width:357px;
	height:798px;
	position:absolute;
	left:1518px;
	top:193px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}
#e14_4 { 
	border-radius:21px;
}#e14_6 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:357px;
	height:798px;
	position:absolute;
	border-radius:21px;
	left:0px;
	top:0px;
}#e15_7 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:326px;
	height:3px;
	position:absolute;
	left:16px;
	top:76px;
}#e15_11 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:326px;
	height:693px;
	position:absolute;
	left:16px;
	top:86px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_9 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:364px;
	height:42px;
	position:absolute;
	left:16px;
	top:23px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e96_0 { 
	opacity:1;
	width:324px;
	height:694px;
	position:absolute;
	left:18px;
	top:85px;
}#e96_5 { 
	opacity:1;
	width:316px;
	height:187px;
	position:absolute;
	left:4px;
	top:3px;
}#e96_1 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:316px;
	height:187px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}#e96_2 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:165px;
	height:24px;
	position:absolute;
	left:12px;
	top:11px;
	font-family:PT Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e96_3 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:303px;
	height:138px;
	position:absolute;
	left:8px;
	top:42px;
	font-family:PT Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}#e14_7 { 
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:1086px;
	top:193px;
}#e14_10 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e15_12 { 
	opacity:1;
	width:243px;
	height:292px;
	position:absolute;
	left:74px;
	top:102px;
	background-image:url(images/estudent.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e17_2 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:377px;
	height:42px;
	position:absolute;
	left:15px;
	top:23px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e17_3 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:358px;
	height:3px;
	position:absolute;
	left:15px;
	top:76px;
}#e14_8 { 
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:655px;
	top:193px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}#e14_9 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:392px;
	height:434px;
	position:absolute;
	left:0px;
	border-radius:21px;
	top:0px;
}#e17_6 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:377px;
	height:42px;
	position:absolute;
	left:15px;
	top:23px;
	font-family:Roboto;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e17_1 { 
	opacity:1;
	width:383px;
	height:298px;
	position:absolute;
	left:4px;
	top:97px;
	background-image:url(images/ecounseling.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e17_4 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:358px;
	height:3px;
	position:absolute;
	left:17px;
	top:76px;
}