#e76_249 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e76_250 { 
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/e19742_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_251 { 
	opacity:1;
	width:1813px;
	height:118px;
	position:absolute;
	left:107px;
	top:0px;
}#e76_252 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	width:1920px;
	height:118px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_253 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:1920px;
	height:4px;
	position:absolute;
	left:0px;
	top:114px;
}#e76_254 { 
	opacity:1;
	width:111px;
	height:114px;
	position:absolute;
	left:7px;
	top:0px;
	background-image:url(images/ewmsu_seal.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_255 { 
	color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:386px;
	height:91px;
	position:absolute;
	left:127px;
	top:14px;
	font-family:PT Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e76_256 { 
	opacity:1;
	width:1813px;
	height:962px;
	position:absolute;
	left:107px;
	top:118px;
}#e76_257 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	border:3px solid rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	width:1648px;
	height:887px;
	position:absolute;
	left:83px;
	top:13px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}#e76_258 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:399px;
	height:61px;
	position:absolute;
	left:766px;
	top:667px;
}#e76_259 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:466px;
	height:61px;
	position:absolute;
	left:1189px;
	top:667px;
}#e76_260 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:201px;
	height:61px;
	position:absolute;
	left:360px;
	top:481px;
}#e76_261 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:214px;
	height:61px;
	position:absolute;
	left:360px;
	top:481px;
}#e76_262 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:214px;
	height:61px;
	position:absolute;
	left:599px;
	top:480px;
}#e76_263 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:214px;
	height:61px;
	position:absolute;
	left:838px;
	top:480px;
}#e76_264 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:319px;
	height:61px;
	position:absolute;
	left:1336px;
	top:481px;
}#e76_265 { 
	opacity:1;
	width:333px;
	height:61px;
	position:absolute;
	left:1322px;
	top:581px;
}#e76_266 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:333px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_267 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:333px;
	height:32px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:PT Sans;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
	line-height:undefined;
}#e76_272 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:125px;
	height:61px;
	position:absolute;
	left:340px;
	top:666px;
}#e76_273 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:125px;
	height:61px;
	position:absolute;
	left:482px;
	top:666px;
}#e78_9 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:157px;
	height:61px;
	position:absolute;
	left:156px;
	top:667px;
}#e76_274 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:125px;
	height:61px;
	position:absolute;
	left:624px;
	top:668px;
}#e76_275 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:289px;
	height:61px;
	position:absolute;
	left:774px;
	top:381px;
}#e76_276 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:289px;
	height:61px;
	position:absolute;
	left:465px;
	top:381px;
}#e76_277 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:571px;
	height:61px;
	position:absolute;
	left:1084px;
	top:381px;
}#e76_278 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:289px;
	height:61px;
	position:absolute;
	left:155px;
	top:381px;
}#e76_279 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:173px;
	height:32px;
	position:absolute;
	left:465px;
	top:395px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_280 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:245px;
	height:32px;
	position:absolute;
	left:766px;
	top:683px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_281 { 
	color:rgba(6.375000094994903, 6.375000094994903, 6.375000094994903, 1);
	opacity:1;
	width:223px;
	height:32px;
	position:absolute;
	left:1189px;
	top:683px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_283 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:202px;
	height:32px;
	position:absolute;
	left:1084px;
	top:395px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_284 { 
	color:rgba(1.0625000554136932, 1.0625000554136932, 1.0625000554136932, 1);
	opacity:1;
	width:230px;
	height:32px;
	position:absolute;
	left:1336px;
	top:496px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_285 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:172px;
	height:32px;
	position:absolute;
	left:156px;
	top:395px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e78_11 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:659px;
	top:421px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_16 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:107px;
	height:21px;
	position:absolute;
	left:351px;
	top:421px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_15 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:111px;
	height:21px;
	position:absolute;
	left:966px;
	top:419px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_17 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:1561px;
	top:421px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e76_286 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:123px;
	height:32px;
	position:absolute;
	left:342px;
	top:683px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_288 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:91px;
	height:32px;
	position:absolute;
	left:485px;
	top:681px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e78_10 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:122px;
	height:32px;
	position:absolute;
	left:156px;
	top:683px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_289 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:104px;
	height:32px;
	position:absolute;
	left:624px;
	top:681px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_290 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:32px;
	position:absolute;
	left:360px;
	top:496px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_291 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:32px;
	position:absolute;
	left:599px;
	top:496px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_292 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:214px;
	height:32px;
	position:absolute;
	left:838px;
	top:496px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_293 { 
	opacity:1;
	width:222px;
	height:61px;
	position:absolute;
	left:1077px;
	top:581px;
}#e76_294 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:222px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_299 { 
	color:rgba(5.312500158324838, 5.312500158324838, 5.312500158324838, 1);
	opacity:1;
	width:162px;
	height:32px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e78_28 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:73px;
	height:23px;
	position:absolute;
	left:1226px;
	top:620px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_29 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:125px;
	height:22px;
	position:absolute;
	left:1527px;
	top:621px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e76_300 { 
	opacity:1;
	width:201px;
	height:61px;
	position:absolute;
	left:155px;
	top:481px;
}#e76_301 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:187px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_302 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:184px;
	height:32px;
	position:absolute;
	left:17px;
	top:14px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_308 { 
	opacity:1;
	width:187px;
	height:61px;
	position:absolute;
	left:859px;
	top:582px;
}#e76_309 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:187px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_310 { 
	color:rgba(3.1875000474974513, 3.1875000474974513, 3.1875000474974513, 1);
	opacity:1;
	width:186px;
	height:32px;
	position:absolute;
	left:1px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_316 { 
	opacity:1;
	width:288px;
	height:61px;
	position:absolute;
	left:156px;
	top:581px;
}#e76_317 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:288px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_318 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:288px;
	height:32px;
	position:absolute;
	left:0px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_324 { 
	opacity:1;
	width:364px;
	height:61px;
	position:absolute;
	left:465px;
	top:582px;
}#e76_325 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:363.9889221191406px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_326 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:364px;
	height:32px;
	position:absolute;
	left:0px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_332 { 
	opacity:1;
	width:234px;
	height:61px;
	position:absolute;
	left:1077px;
	top:480px;
}#e76_333 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:233.9738006591797px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_334 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:234px;
	height:32px;
	position:absolute;
	left:0px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_340 { 
	opacity:1;
	width:256px;
	height:61px;
	position:absolute;
	left:1403px;
	top:817px;
}#e76_341 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:256px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e76_342 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:256px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_343 { 
	opacity:1;
	width:198px;
	height:61px;
	position:absolute;
	left:1183px;
	top:817px;
}#e76_344 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:198px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e76_345 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:198px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_346 { 
	opacity:1;
	width:198px;
	height:61px;
	position:absolute;
	left:963px;
	top:817px;
}#e76_347 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:198px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e76_348 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:198px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_349 { 
	opacity:1;
	width:182px;
	height:61px;
	position:absolute;
	left:759px;
	top:815px;
}#e76_350 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:182px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e76_351 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:182px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e77_1 { 
	opacity:1;
	width:310px;
	height:62px;
	position:absolute;
	left:155px;
	top:740px;
}#e77_2 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:310px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e77_3 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:310px;
	height:55px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:PT Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:undefined;
}#e78_6 { 
	opacity:1;
	width:403px;
	height:62px;
	position:absolute;
	left:155px;
	top:814px;
}#e78_7 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:403px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e78_8 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:403px;
	height:55px;
	position:absolute;
	left:0px;
	top:7px;
	font-family:PT Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	line-height:undefined;
}#e76_352 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:155px;
	height:32px;
	position:absolute;
	left:774px;
	top:395px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_353 { 
	opacity:1;
	width:182px;
	height:240px;
	position:absolute;
	left:816px;
	top:55px;
}#e76_354 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:182px;
	height:240px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}#e76_355 { 
	opacity:1;
	width:173px;
	height:173px;
	position:absolute;
	left:4px;
	top:14px;
	background-image:url(images/eimage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_356 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:153px;
	height:48px;
	position:absolute;
	left:14px;
	top:187px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e78_18 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:46px;
	height:21px;
	position:absolute;
	left:294px;
	top:520px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_24 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:63px;
	height:21px;
	position:absolute;
	left:381px;
	top:620px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_25 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:83px;
	height:23px;
	position:absolute;
	left:744px;
	top:620px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_26 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:56px;
	height:23px;
	position:absolute;
	left:993px;
	top:620px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_33 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:89px;
	height:23px;
	position:absolute;
	left:1077px;
	top:705px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_34 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:89px;
	height:23px;
	position:absolute;
	left:1566px;
	top:704px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_27 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:72px;
	height:22px;
	position:absolute;
	left:253px;
	top:706px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_30 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:84px;
	height:23px;
	position:absolute;
	left:381px;
	top:706px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_31 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:45px;
	height:23px;
	position:absolute;
	left:563px;
	top:707px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_32 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:45px;
	height:23px;
	position:absolute;
	left:706px;
	top:708px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_19 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:104px;
	height:21px;
	position:absolute;
	left:470px;
	top:522px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_20 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:719px;
	top:521px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_21 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:958px;
	top:521px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_22 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:1217px;
	top:521px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e78_23 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:1561px;
	top:520px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e76_357 { 
	opacity:1;
	width:451px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_358 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:107px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_360 { 
	opacity:1;
	width:104px;
	height:97px;
	position:absolute;
	left:1px;
	top:12px;
	background-image:url(images/emenubar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_361 { 
	opacity:1;
	width:100px;
	height:93px;
	position:absolute;
	left:3px;
	top:140px;
	background-image:url(images/ehome_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_362 { 
	opacity:1;
	width:65px;
	height:78px;
	position:absolute;
	left:21px;
	top:255px;
	background-image:url(images/estudent_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_363 { 
	opacity:1;
	width:100px;
	height:100px;
	position:absolute;
	left:3px;
	top:356px;
	background-image:url(images/ecounselingsmall_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_364 { 
	opacity:1;
	width:86px;
	height:86px;
	position:absolute;
	left:10px;
	top:472px;
	background-image:url(images/ebell_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}