#e76_27 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
}#e76_28 { 
	opacity:1;
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/e19742_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_29 { 
	opacity:1;
	width:1813px;
	height:118px;
	position:absolute;
	left:107px;
	top:0px;
}#e76_30 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	width:1920px;
	height:118px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_31 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:1920px;
	height:4px;
	position:absolute;
	left:0px;
	top:114px;
}#e76_32 { 
	opacity:1;
	width:111px;
	height:114px;
	position:absolute;
	left:7px;
	top:0px;
	background-image:url(images/ewmsu_seal.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_33 { 
	color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:517px;
	height:91px;
	position:absolute;
	left:127px;
	top:14px;
	font-family:PT Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}#e76_34 { 
	opacity:1;
	width:1813px;
	height:962px;
	position:absolute;
	left:109px;
	top:117px;
}#e76_35 { 
	background-color:rgba(255, 238.00000101327896, 238.00000101327896, 1);
	opacity:1;
	border:3px solid rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	width:1648px;
	height:887px;
	position:absolute;
	left:83px;
	top:37px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}#e76_36 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:399px;
	height:61px;
	position:absolute;
	left:766px;
	top:667px;
}#e76_37 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:466px;
	height:61px;
	position:absolute;
	left:1189px;
	top:667px;
}#e76_38 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:201px;
	height:61px;
	position:absolute;
	left:360px;
	top:481px;
}#e76_39 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:214px;
	height:61px;
	position:absolute;
	left:360px;
	top:481px;
}#e76_40 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:214px;
	height:61px;
	position:absolute;
	left:599px;
	top:480px;
}#e76_41 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:214px;
	height:61px;
	position:absolute;
	left:838px;
	top:480px;
}#e76_42 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:319px;
	height:61px;
	position:absolute;
	left:1336px;
	top:481px;
}#e76_43 { 
	opacity:1;
	width:356px;
	height:61px;
	position:absolute;
	left:1322px;
	top:581px;
}#e76_44 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:333px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_49 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:356px;
	height:32px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_45 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:63.69805908203125px;
	height:61px;
	position:absolute;
	left:269px;
	top:0px;
}#e76_50 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:125px;
	height:61px;
	position:absolute;
	left:300px;
	top:666px;
}#e76_51 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:125px;
	height:61px;
	position:absolute;
	left:454px;
	top:667px;
}#e76_52 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:125px;
	height:61px;
	position:absolute;
	left:608px;
	top:667px;
}#e76_53 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:289px;
	height:61px;
	position:absolute;
	left:774px;
	top:381px;
}#e76_54 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:289px;
	height:61px;
	position:absolute;
	left:465px;
	top:381px;
}#e76_55 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:571px;
	height:61px;
	position:absolute;
	left:1084px;
	top:381px;
}#e76_56 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:289px;
	height:61px;
	position:absolute;
	left:155px;
	top:381px;
}#e76_57 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:32px;
	position:absolute;
	left:465px;
	top:395px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_58 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:325px;
	height:32px;
	position:absolute;
	left:766px;
	top:683px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_59 { 
	color:rgba(6.375000094994903, 6.375000094994903, 6.375000094994903, 1);
	opacity:1;
	width:295px;
	height:32px;
	position:absolute;
	left:1189px;
	top:683px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_61 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:32px;
	position:absolute;
	left:1084px;
	top:395px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_62 { 
	color:rgba(1.0625000554136932, 1.0625000554136932, 1.0625000554136932, 1);
	opacity:1;
	width:289px;
	height:32px;
	position:absolute;
	left:1336px;
	top:496px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_63 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:32px;
	position:absolute;
	left:156px;
	top:395px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_64 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:32px;
	position:absolute;
	left:300px;
	top:683px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_65 { 
	color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:289px;
	height:32px;
	position:absolute;
	left:155px;
	top:683px;
	font-family:PT Sans;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
	line-height:undefined;
}#e76_66 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:32px;
	position:absolute;
	left:454px;
	top:682px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_67 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:32px;
	position:absolute;
	left:608px;
	top:680px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_68 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:300px;
	height:32px;
	position:absolute;
	left:360px;
	top:496px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_69 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:300px;
	height:32px;
	position:absolute;
	left:599px;
	top:496px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_70 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:300px;
	height:32px;
	position:absolute;
	left:838px;
	top:496px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_71 { 
	opacity:1;
	width:245px;
	height:62px;
	position:absolute;
	left:1077px;
	top:580px;
}#e76_72 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:222px;
	height:61px;
	position:absolute;
	left:0px;
	top:1px;
}#e76_73 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:63.69805908203125px;
	height:61px;
	position:absolute;
	left:158px;
	top:1px;
}#e96_37 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:59px;
	height:32px;
	position:absolute;
	left:160px;
	top:0px;
	font-family:PT Sans;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}#e76_77 { 
	color:rgba(5.312500158324838, 5.312500158324838, 5.312500158324838, 1);
	opacity:1;
	width:245px;
	height:32px;
	position:absolute;
	left:0px;
	top:17px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_78 { 
	opacity:1;
	width:190px;
	height:61px;
	position:absolute;
	left:155px;
	top:481px;
}#e76_79 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:89px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e91_21 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:89px;
	height:61px;
	position:absolute;
	left:101px;
	top:0px;
}#e76_80 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:89px;
	height:32px;
	position:absolute;
	left:0px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e91_22 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:89px;
	height:32px;
	position:absolute;
	left:101px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_86 { 
	opacity:1;
	width:188px;
	height:61px;
	position:absolute;
	left:859px;
	top:582px;
}#e76_87 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:187px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_88 { 
	color:rgba(3.1875000474974513, 3.1875000474974513, 3.1875000474974513, 1);
	opacity:1;
	width:124px;
	height:32px;
	position:absolute;
	left:1px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_89 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:63px;
	height:61px;
	position:absolute;
	left:125px;
	top:0px;
}#e96_35 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:59px;
	height:32px;
	position:absolute;
	left:127px;
	top:8px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_94 { 
	opacity:1;
	width:289px;
	height:61px;
	position:absolute;
	left:156px;
	top:581px;
}#e76_95 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:288px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_96 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:226px;
	height:32px;
	position:absolute;
	left:0px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_97 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:63px;
	height:61px;
	position:absolute;
	left:226px;
	top:0px;
}#e96_32 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:59px;
	height:32px;
	position:absolute;
	left:229px;
	top:9px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_102 { 
	opacity:1;
	width:365px;
	height:61px;
	position:absolute;
	left:465px;
	top:582px;
}#e76_103 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:363.9889221191406px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_104 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:301px;
	height:32px;
	position:absolute;
	left:0px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_105 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:63.69805908203125px;
	height:61px;
	position:absolute;
	left:301.30194091796875px;
	top:0px;
}#e96_34 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:59px;
	height:32px;
	position:absolute;
	left:304px;
	top:8px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_110 { 
	opacity:1;
	width:235px;
	height:61px;
	position:absolute;
	left:1077px;
	top:480px;
}#e76_111 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:233.9738006591797px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_112 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:170.34934997558594px;
	height:32px;
	position:absolute;
	left:0px;
	top:15px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_113 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:64.6506576538086px;
	height:61px;
	position:absolute;
	left:170.34934997558594px;
	top:0px;
}#e96_39 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:59px;
	height:32px;
	position:absolute;
	left:173px;
	top:7px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_118 { 
	opacity:1;
	width:256px;
	height:61px;
	position:absolute;
	left:1403px;
	top:817px;
}#e76_119 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:256px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e76_120 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:256px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_121 { 
	opacity:1;
	width:198px;
	height:61px;
	position:absolute;
	left:1183px;
	top:817px;
}#e76_122 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:198px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e76_123 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:198px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_124 { 
	opacity:1;
	width:198px;
	height:61px;
	position:absolute;
	left:963px;
	top:817px;
}#e76_125 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:198px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e76_126 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:198px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_127 { 
	opacity:1;
	width:405px;
	height:61px;
	position:absolute;
	left:156px;
	top:817px;
}#e76_128 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	border:1px solid rgba(0, 15.193752609193325, 69.0625025331974, 1);
	width:405px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}#e76_129 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:405px;
	height:55px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:PT Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}#e76_130 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:289px;
	height:32px;
	position:absolute;
	left:774px;
	top:395px;
	font-family:PT Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_131 { 
	opacity:1;
	width:182px;
	height:240px;
	position:absolute;
	left:816px;
	top:55px;
}#e76_132 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:182px;
	height:240px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}#e76_133 { 
	opacity:1;
	width:173px;
	height:173px;
	position:absolute;
	left:4px;
	top:14px;
	background-image:url(images/eimage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_134 { 
	color:rgba(0, 0, 0, 0.5);
	opacity:1;
	width:153px;
	height:48px;
	position:absolute;
	left:14px;
	top:187px;
	font-family:PT Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}#e76_135 { 
	opacity:1;
	width:451px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_136 { 
	background-color:rgba(81.81249797344208, 23.52109506726265, 23.52109506726265, 1);
	opacity:1;
	width:107px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e76_138 { 
	opacity:1;
	width:104px;
	height:97px;
	position:absolute;
	left:1px;
	top:12px;
	background-image:url(images/emenubar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_139 { 
	opacity:1;
	width:100px;
	height:93px;
	position:absolute;
	left:3px;
	top:140px;
	background-image:url(images/ehome_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_140 { 
	opacity:1;
	width:65px;
	height:78px;
	position:absolute;
	left:21px;
	top:255px;
	background-image:url(images/estudent_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_141 { 
	opacity:1;
	width:100px;
	height:100px;
	position:absolute;
	left:3px;
	top:356px;
	background-image:url(images/ecounselingsmall_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e76_142 { 
	opacity:1;
	width:86px;
	height:86px;
	position:absolute;
	left:10px;
	top:472px;
	background-image:url(images/ebell_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e91_23 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:771px;
	top:541px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_24 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:107px;
	height:21px;
	position:absolute;
	left:460px;
	top:542px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_25 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:111px;
	height:21px;
	position:absolute;
	left:1076px;
	top:540px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_26 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:1677px;
	top:542px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_27 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:73px;
	height:23px;
	position:absolute;
	left:1276px;
	top:741px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_28 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:125px;
	height:22px;
	position:absolute;
	left:1578px;
	top:742px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_29 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:46px;
	height:21px;
	position:absolute;
	left:310px;
	top:641px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_44 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:46px;
	height:21px;
	position:absolute;
	left:404px;
	top:641px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_30 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:63px;
	height:21px;
	position:absolute;
	left:427px;
	top:739px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_31 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:76px;
	height:21px;
	position:absolute;
	left:798px;
	top:741px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_32 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:56px;
	height:23px;
	position:absolute;
	left:1042px;
	top:741px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_33 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:89px;
	height:23px;
	position:absolute;
	left:1193px;
	top:826px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_34 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:89px;
	height:23px;
	position:absolute;
	left:1682px;
	top:825px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_36 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:84px;
	height:23px;
	position:absolute;
	left:450px;
	top:827px;
	font-family:PT Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
	line-height:undefined;
}#e91_37 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:39px;
	height:18px;
	position:absolute;
	left:649px;
	top:827px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_38 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:38px;
	height:20px;
	position:absolute;
	left:805px;
	top:827px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_39 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:104px;
	height:21px;
	position:absolute;
	left:584px;
	top:641px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_40 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:828px;
	top:641px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_41 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:1065px;
	top:640px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_42 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:1268px;
	top:642px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e91_43 { 
	color:rgba(162.56249696016312, 162.56249696016312, 162.56249696016312, 1);
	opacity:1;
	width:94px;
	height:21px;
	position:absolute;
	left:1677px;
	top:641px;
	font-family:PT Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:undefined;
}#e96_38 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:59px;
	height:62px;
	position:absolute;
	left:1702px;
	top:697px;
	font-family:PT Sans;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}